.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-medium-grey);
  border-top: 1px solid var(--color-medium-grey);
  height: 60px;
  padding: 0 12px;
}

.nav.mobile {
  display: none;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 16px;
  cursor: pointer;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav.right {
  font-size: 12px;
  gap: 25px;
}

.icon-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.icon-menu.sign-out {
  color: var(--color-brand);
}

.icon {
  font-size: 20px;
}

.cart-box {
  position: relative;
}

@media (max-width: 1080px) {
  .navbar .nav.left {
    display: none;
  }

  .nav.mobile {
    display: block;
  }

  .mobile-left {
    z-index: 10;
    position: absolute;
    top: 100%;
    left: -2000%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
  }
}

@media (max-width: 900px) {
  .mobile-left.opened {
    animation: slideIn 350ms ease-in-out;
    left: 0;
  }

  .mobile-left.closed {
    animation: slideOut 350ms ease-in-out;
  }

  .mobile-left .menu-item,
  .mobile-left .menu-item a {
    color: #5c5d65;
    font-size: 1.1rem;
    padding: 3rem 10rem 3rem 5rem;
    border-bottom: 1px solid #fff;
    background-color: #e8e8e8ee;
  }

  .mobile-left .menu-item:active {
    background-color: #5c5d65;
    color: #e8e8e8ee;
  }

  .icon-menu-text {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav.right {
    gap: 15px;
  }
}

@media (max-width: 490px) {
  .nav.right {
    gap: 5px;
  }
}

@keyframes slideIn {
  from {
    left: -2000%;
  }

  to {
    left: 0;
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }

  to {
    left: -2000%;
  }
}
