.cart {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.cart-container {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-grey);
  border-radius: 2px;
  padding: 3rem;
}

.cart-no-product {
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.continue-shopping-btn {
  width: 20rem;
}

.cart .cart-heading {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.cart .cart-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cart .cart-product {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.cart .product-image {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  object-position: center 65%;
  margin: 0;
}

.cart .product-info {
  gap: 0.2rem;
  width: 65%;
  position: relative;
}

.cart .product-name,
.cart .product-price {
  font-size: 1.2rem;
  font-weight: 500;
}

.cart .product-price {
  margin-bottom: 1rem;
}

.cart .product-size,
.cart .product-color,
.cart .product-quantity {
  margin: 0;
}

.cart .quantity-box {
  display: flex;
  gap: 3rem;
}

.cart .quantity-btn {
  border: 1px solid var(--color-brand);
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
}

.cart .quantity-btn.delete-btn {
  background-color: var(--color-black);
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 0;
}

.cart .order-summary {
  border: 1px solid var(--color-brand-opacity);
  padding: 2rem;
}

.cart .summary-title {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.cart .summary-content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 3rem;
}

.cart .price-label {
  display: flex;
  justify-content: space-between;
}

.cart .price-label.total .label,
.cart .price-label.total {
  color: var(--color-brand);
  font-weight: 600;
}

.cart .payment-methods {
  text-align: center;
  margin-top: 2.5rem;
}
