.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.success-message {
  color: var(--color-brand);
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: -0.5rem;
}

.form {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
  border: 1px solid var(--color-grey);
  border-radius: 2px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-weight: 600;
}

input,
select,
textarea {
  padding: 0.9rem 1rem;
  width: 100%;
  outline: none;
  border-radius: 2px;
  border: 1px solid var(--color-grey);
  font-family: inherit;
}

.product-image {
  width: 40%;
  margin: 0 auto;
}
