.search {
  min-height: 50vh;
}

.search .search-form {
  position: relative;
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  margin-bottom: 2rem;
}

.search .query-delete-btn {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  font-size: 0.9rem;
  filter: brightness(120%);
  transition: filter 150ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search .query-delete-btn:hover {
  filter: brightness(80%);
}

.search .no-item-found {
  margin: 3rem auto;
  font-size: 1.2rem;
  text-align: center;
}
