@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  --color-black: #4b4b4b;
  --color-black-opacity: #00000046;
  --color-brand: #153e6e;
  --color-brand-opacity: #153e6e45;
  --color-grey: #aeb5bb;
  --color-light-grey: #f8f9fa;
  --color-medium-grey: #cdd2d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-black);
  min-width: 320px;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
}

.heading-secondary {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2%;
}
