.banner {
  height: 30rem;
  overflow: hidden;
  margin-bottom: 4rem;
  position: relative;
}

.carousel-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.carousel-sentence-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 3rem 5rem;
  background-color: var(--color-brand-opacity);
  line-height: 1.5;
}

@media (max-width: 950px) {
  .banner {
    height: 25rem;
    margin-bottom: 3rem;
  }

  .carousel-sentence-box {
    top: 45%;
    font-size: 1.3rem;
    padding: 2rem 4rem;
  }
}

@media (max-width: 780px) {
  .banner {
    height: 20rem;
    margin-bottom: 2rem;
  }

  .carousel-sentence-box {
    font-size: 1.2rem;
    padding: 2rem 4rem;
  }
}

@media (max-width: 650px) {
  .banner {
    height: 15rem;
    margin-bottom: 2rem;
  }

  .carousel-sentence-box {
    top: 40%;
    font-size: 1.1rem;
    padding: 1rem 4rem;
  }
}

@media (max-width: 570px) {
  .banner {
    height: 15rem;
    margin-bottom: 2rem;
  }

  .carousel-sentence-box {
    top: 45%;
    font-size: 1.1rem;
    padding: 1rem 3rem;
  }
}

@media (max-width: 500px) {
  .banner {
    height: 15rem;
    margin-bottom: 1rem;
  }

  .carousel-sentence-box {
    display: none;
  }
}

@media (max-width: 410px) {
  .banner {
    margin-bottom: 0;
  }

  .carousel-sentence-box {
    display: none;
  }
}
