.btn {
  background-color: var(--color-brand);
  color: #fff;
  width: 100%;
  height: 3.5rem;
  align-self: center;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  filter: brightness(110%);
  transform: translateY(1px);
  background: var(--color-brand);
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
