.cart-badge {
  position: absolute;
  top: -9px;
  right: -7px;
  width: 13px;
  height: 13px;
  background-color: var(--color-brand);
  color: #fff;
  border-radius: 30%;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
