.product-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 1px 15px #e3e3e3;
  transition: all 150ms ease-in;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.product-card:hover {
  box-shadow: -4px 4px 15px #e3e3e3;
  transform: scale(99%);
}

.product-img-box {
  align-self: center;
  width: 100%;
  height: 28rem;
}

.product-card .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 65%;
}

.product-info-block {
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 0 0 8px 8px;
  font-size: 1.1rem;
}

.product-category {
  color: var(--color-grey);
  font-size: 0.7rem;
  text-transform: uppercase;
}

.product-name-price-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-top: -0.5rem;
}

.product-card .product-name {
  font-weight: 500;
}

.product-price::before {
  content: '$ ';
}

.product-size {
  margin-bottom: -1rem;
}

.selected-size {
  filter: brightness(60%);
}

.product-size,
.product-color {
  display: flex;
  gap: 0.5rem;
}

.product-label {
  font-weight: 400;
  font-size: 1rem;
}

.product-detail .product-description {
  padding: 0 5rem 0 0.5rem;
  font-size: 1rem;
}
